<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Partajouer</title>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
  </head>
  <body>
    <%= react_component("CustomMenu", {
        isLoggedIn: user_signed_in?,
        user: current_user,
        links: {
          signup: url_for(new_user_registration_path),
          login: url_for(new_user_session_path),
          logout: url_for(destroy_user_session_path),
          editProfile: url_for(edit_user_registration_path),
        },
        profilePictureUrl: user_signed_in? ? current_user.avatar.url('thumb') : '',
      })
    %>
      <%= react_component("Home", {
        categoryTitle: ["Jeux de cartes", "Jeux de plateau", "Jeux de dès", "Jeux en plein air"],
        categoryImg: [image_path("cartes.svg"), image_path("plateau.svg"), image_path("des.svg"), image_path("plein_air.svg")]
      }) %>

    <%= react_component("Footer", {rs: [image_path("facebook.svg"), image_path("twitter.svg"), image_path("instagram.svg"), image_path("youtube.svg")]}) %>
  </body>
</html>
