.category__card {
  width: 280px;
  height: 80px;
  border-radius: 3px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  display: flex;
}

.category__cardLeft {
  width: 80px;
  height: 80px;
  background-color: $accentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.category__cardRight {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: $textColor;
  font-family: 'Work Sans';
}

.category__cardIcon {
  height: 32px;
  width: 32px;
  fill: white;
}
