.menu {
  background-color: #fbfbfb;
  height: 100px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.05);
}

.menu__nav {
  height: 100%;
  width: 100%;
}

.menu__navContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

.menu__navItem {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 50px;

  &:first-child {
    margin-left: 100px;
  }

  &--last {
    margin-left: 0px;
    margin-right: 100px;
  }

  &--logged {
    margin-left: auto;
  }
}

.menu__navItem--end {
  margin-left: auto;
  margin-right: 30px;
}
