.upload__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Work Sans';
  margin-top: 20px;
  position: relative;
}

.upload__inputContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  border: 2px solid $accentColor;
  width: 170px;
  height: 120px;
  position: relative;
}

.upload__inputHover {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;
  position: absolute;
  z-index: 2;

  &:hover {
    background-color: rgba(0,0,0,0.3);
  }
}

.upload__title {
  position: absolute;
  top: -20px;
  text-align: center;
  width: 400px;
}

.upload__input {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload__inputUploadIcon {
  z-index: 2;
}

.upload__inputUploadIcon--hide {
  display: none;
}

.upload__inputPreview {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.4s ease all;
}

.upload__inputPreview--show {
  display: block;
}

.upload__inputDeleteIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
  cursor: pointer;
  transition: 0.3s ease fill;

  &:hover #Trash {
    fill: #E53935;
  }
}

.upload__inputErrors {
  opacity: 0;
  height: 1rem;
  width: 100%;
  margin-top: 5px;
  font-size:0.75rem;
  color: rgb(244, 67, 54);
}

.upload__inputErrors--show {
  opacity: 1;
}
