$accentColor: #494fec;
$textColor: #1f1f1f;

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.logo {
  display: flex;
  font-size: 3rem;
  color: $accentColor;
  font-family: "Work Sans";
  font-weight: bold;
  margin-left: -57px;

  svg {
    margin-right: 15px;
  }
}
