body {
  background-color: #fefefe;

}

.container_global {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 50px;
  h3 {
    font-family: 'Work Sans';
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.container_announcement {
  width: 70%;
  margin-left: 80px;
  margin-right: 100px;
}

.container_reservation {
  width: 30%;
  min-width: 320px;
  background-color: #ffffff;
  padding: 20px;
  height: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  margin-right: 80px;
}

.announcement_headline {
  display: flex;
  flex-flow: row nowrap;
}

.announcement_headlineLeft {
  width: 52px;
  height: 52px;
  background-color: $accentColor;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 25px;
    height: 35px;
    color: white;
  }
}

.announcement_headlineRight {
  font-family: 'Work Sans';
  color: $textColor;
  margin-left: 14px;
  .announcement_title{
    font-size: 2.25rem;
    font-weight: 600;
  }
  .announcements__category {

  }
}

.announcement_header{
  margin-top: 40px;

}

.announcement_hashtags {
  margin-bottom: 40px;

  li {
    font-family: 'Work Sans';
    color: $accentColor;
    display: inline;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 5px;
  }
}

.announcement_descriptionContainer {
}

.announcement_img {
  background-color: grey;
  width: 434px;
  height: 280px;
  border-radius: 3px;
  overflow: hidden;
}


.slick-slider, .slick-list, .slick-track, div[data-react-class=SimpleSlider] {
  height: 100%;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  color: $accentColor;
  font-size: 1rem;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  color:$accentColor !important;
  opacity: 1;
}

.announcement_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.announcement_metadataIcon {
  svg {
    color: $accentColor;
  }
}

.announcement_metadata {
  display: flex;
  flex-flow: row nowrap;
}

.announcement_metadataLine {
  display: flex;
  flex-flow: column nowrap;
}

.announcement_metadataCell {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.announcement_metadataLabel {
  margin-left: 15px;
  font-family: 'Work Sans';
  font-size: 1.125rem;
  color: $textColor;
  margin-right: 30px;

}

.announcement_desc {
  font-family: 'Work Sans';
  h3 {

  }
  p {
    font-size: 1rem;
    line-height: 1.39;
  }
}

.announcement_descTitle {
  margin-top: 50px;
  font-family: 'Work Sans';
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.location_map {
  background-color: grey;
  width: 880px;
  height: 560px;
}

.location_content {
  position: absolute;
  top: 960px;
  background-color: lightgrey;
  padding: 30px;
  font-family: 'Work Sans';
  font-size: 1rem;
  line-height: 1.39;
}

.location_name {

  font-weight: 600;
}

.announcement_recommendationsTitle {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: 'Work Sans';
  margin-top: 50px;
  margin-bottom: 50px;
}

.container_reservation {

}

.reservation_header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.reservation_price {
  margin-bottom: 20px;
}

.reservation_priceNumber {
  font-size: 1.5rem;
  font-family: 'Work Sans';
  font-weight: 600;
}

.reservation_priceFrequency {
  font-size: 1.125rem;
  font-family: 'Work Sans';
  font-weight: 400;
}

.reservation_score {

}

.reservation_scoreInformations {
  width: 130px;
  height: 20px;
  background-color: lightgrey;
  margin-top: 7px;
}

.reservation_author {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.reservation_placeholder {
  width: 60px;
  height: 60px;
  background-color: lightgrey;
  margin-bottom: 6px;
  align-self: center;
}

.reservation_authorSubtitle {
  font-family: 'Work Sans';
  color: #9b9b9b;
  letter-spacing: -0.4px;
  font-size: 1rem;
}

.reservation_start {
  margin-top: 47px;
}

.reservation_end {
  margin-top: 37px;
}

.reservation_summary {
  margin-top: 37px;
}

.reservation_summaryLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 19px;
  font-family: 'Work Sans';
  font-size: 1.125rem;
  letter-spacing: -0.4px;

  &--blueColor {
    color: $accentColor;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.reservation_button {
  margin-top:24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
