.header {
  background-color: #fbfbfb;
  height: 100px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.05);
}

.content {
  margin-left:20px;
  margin-right:20px;
}

.title {
  color: #1f1f1f;
  font-size: 2rem;
  font-weight: bold;
}

.introduction {
  margin-top: 90px;
  display: flex;
  justify-content: center;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    color: #494fec;
  }

  &__desc {
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #1f1f1f;
  }

  &__search {
    margin-top: 35px;
    position: relative;
  }
}

.introduction__searchInput {
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 80px;
  font-size: 1.25rem;
  border-radius: 3px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}

.introduction__searchBtn {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: #494fec;
  font-size: 1rem;
  position: absolute;
  top: calc(50% - 20px);
  color: white;
  right: calc(-40px + -10px);
  border: 0;
  transition: all 0.4s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    color: #494fec;
  }
}

.category__header {
  margin-top:90px;
  margin-bottom: 35px;
}

.category__cards {
  display: flex;
  justify-content: space-between;
}

.announcements {
  width: 100%;
  display: flex;
}
.announcements__category {
  width: 100%;
}

.announcements__categoryHeader {
  margin-top: 50px;
  margin-bottom: 35px;
}

.announcements__categoryContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: repeat(auto-fill, 360px);
  justify-content: center;
  grid-gap: 40px;
}
